.profileBanner {
   height: 50%;       
}

.profileImage {
    align: center;
    padding-bottom: -50px;
}

#leftBox, #rightBox {
    display: inline;
    width: 50%;
    height: 200px;
    text-align: center;
}

#leftBox {
    float: left;
}

#rightBox {
    float: right;   
}

.content {
}
