.profileBanner {
   height: 50%;       
}

.profileImage {
    align: center;
    padding-bottom: -50px;
}

#leftBox, #rightBox {
    display: inline;
    width: 50%;
    padding-bottom: 20px;
    text-align: center;
}

#leftBox {
    float: left;
}

#rightBox {
    float: right;   
}

.content {
}

#eventsAttended{
    padding-left: 15px;
    padding-right: 15px;
}

.eventsHeader {
}

.eventsBody {
    height: 200px;
    width: 100%;
}

.event {
    height: 180px;
    width: 180px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
}
